<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <a mat-button routerLink=""><img class="logo" src="assets/empire_logo.png"></a>

    <a mat-button routerLink="/tractor">Tractor Beam Control</a>

    <a mat-button routerLink="/prisoners">Prisoner Manifest</a>

    <a mat-button routerLink="/firing">Firing Form</a>

    <span class="fill-remaining-space"></span>
    <span *ngIf="auth.isAuthenticated()">
      {{auth.getCurrentUser()}}
      <button mat-button (click)="auth.logout()">Logout</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-content app-background" fullscreen>
  <router-outlet></router-outlet>
</div>