.officers {
    border: solid gray 1px;
    width: 550px;
    padding: 1em;
}

mat-form-field {
    margin: 10px;
}

.order-form {
    margin: 2em;
}

.fire-button {
    margin: 1em;
}

.planet-status {
    width: 320px;
    font-size: 2em;
    padding: 8px;
    border: 2px solid white;
}

.status-ok {
    color: lightgreen;
}

.status-destroyed {
    color: red;
}