<div class="order-form">
<h2>Firing Authorization Form</h2>
<div>Failure to properly fill out the Death Star Firing Authorization Form will be punished under
  Article 22-C of the Imperial Code of Military Conduct</div>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

<mat-form-field floatLabel=true>
  <mat-label class="center-block">System:</mat-label>
  <input matInput class="form-control" formControlName="system">
</mat-form-field>

<mat-form-field floatLabel=true>
  <mat-label class="center-block">Orbit:</mat-label>
  <input matInput class="form-control" formControlName="orbit">
</mat-form-field>

<div class="officers">
<p><h4>Authorizing Officers</h4>
<mat-divider></mat-divider>
<mat-list formArrayName="authorizingOfficers">
  <mat-list-item *ngFor="let officer of officers.controls; let i=index" [formGroupName]="i" >
    <mat-form-field floatLabel=true>
      <mat-label class="center-block">Name</mat-label>
      <input matInput class="form-control" formControlName="name">
    </mat-form-field>
    <mat-form-field floatLabel=true>
      <mat-label class="center-block">Command Code</mat-label>
      <input matInput class="form-control" formControlName="commandCode">
    </mat-form-field>
    <span *ngIf="officer.valid"><mat-icon>check circle</mat-icon></span>
    <span *ngIf="!officer.valid"><mat-icon>error</mat-icon></span>
    <button (click)="removeOfficer(i)" type="button">Delete</button>
  </mat-list-item>
  <button mat-button color="secondary" (click)="addOfficer()" type="button">Add an officer</button>
</mat-list>
</div>

<button class="fire-button" color="primary" mat-raised-button [disabled]="!orderForm.valid" (click)="onFire()">Fire</button>
</form>
<div class="planet-status">Planet Status: 
  <span class="status-{{planetStatus.toLowerCase()}}">{{planetStatus}}</span></div> </div>
